[package]
name = "rust_decimal"
version = "1.4.0"
authors = ["Paul Mason <paul@form1.co.nz>"]
edition = "2018"
description = "A Decimal Implementation written in pure Rust suitable for financial calculations."
documentation = "https://docs.rs/rust_decimal/"
repository = "https://github.com/paupino/rust-decimal"
readme = "./README.md"
keywords = ["decimal","financial","fixed","precision"]
categories = ["science","data-structures"]
license = "MIT"

[dependencies]
num-traits = "0.2"
byteorder = "1.3"
bytes = "0.5"
diesel = { version = "1.4", default-features = false, features = ["postgres"], optional = true }
postgres = { version = "0.17", optional = true }
tokio-postgres = { version = "0.5", optional = true }
serde = { version = "1.0", optional = true }

[dev-dependencies]
rand = "0.7"
serde_json = "1.0"
serde_derive = "1.0"
tokio = { version = "0.2", features = ["rt-threaded", "test-util", "macros"] }
futures = "0.3"

[features]
default = ["serde"]
serde-float = ["serde"]
tokio-pg = ["postgres", "tokio-postgres"]

[workspace]
members = [".", "./macros", "./fuzzer"]
