[package]
name = "rust_decimal"
version = "0.5.2"
authors = ["Paul Mason <paul@form1.co.nz>"]

description = "A Decimal Implementation written in pure Rust suitable for financial calculations."

repository = "https://github.com/paupino/rust-decimal"
readme = "./README.md"

keywords = ["decimal","financial","fixed","precision"]
categories = ["science","data-structures"]

license = "MIT"

[badges]
travis-ci = { repository = "paupino/rust-decimal", branch = "master" }

[dependencies]
num = "0.1"
byteorder = "1.0"
lazy_static = "0.2"
postgres = { version = "0.15", optional = true }
serde = { version = "1.0", optional = true }

[dev-dependencies]
serde_json = "1.0"
serde_derive = "1.0"
decimal = "2.0"
time = "0.1"

[features]
default = ["serde"]